
html body {
margin: 25px;
padding: 25px;
background-color:#87d1ee!important;
color: black;
font-size: 18px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
          }
h1 {
text-shadow: 5px 5px 5px gold;
text-align:center;
font-size: 36px;
}
#connectinfo {
    text-align:center;
    font-size: 18px;
}
h2 { font-size: 26px;
}
#lang {
    text-align:left;
    font-size: 26px
}
#skills {
        text-align: left;
        font-size: 26px 
    }
    
    .table-skills {
        text-align: left; 
        margin-bottom: 10px; 
    }

    table.table-hover {
        font-size: 18px;
    }
    
    table {
        text-align: center;
        width: 50%;
        border-collapse: separate;
        border-spacing: 10px;
        margin-right: 20; 
        display: inline-block; 
    }
    
    th, td {
        border: 0px solid black;
        padding: 3px;
        text-align: left;
    }
}